@using Resources
@model AirStar.ViewModels.LogInViewModel

@{
    Layout = "_EmptyLayout";
}

@section Scripts{
    <link rel="stylesheet" href="~/css/registrationLogin.css" />
}

<div class="full-page-container">
    <div class="registration-login">

        <div class="decor-container centering">
            <h1 class="decor-text">
                @Auth.NeedAnAccount
            </h1>
            <p class="decor-text">
                @Auth.StartJourney
            </p>
            <p class="decor-text">
                @Auth.EnterDetails
            </p>
            <p>
                @Html.ActionLink(@Auth.Registration, "Registration", "Auth", null, new { @class = "button-on-page button-on-decor" })
            </p>
            <p></p>
            <p>
                @Html.ActionLink(@Auth.MainPage, "Index", "Home", null, new { @class = "button-on-page button-on-decor" })
            </p>
        </div>

        <div class="registration-login-container centering">
            <form action="/Auth/LogIn" method="post" autocomplete="off" class="centering">
                <h1 class="work-text">
                    @Auth.Login
                </h1>
                <div>
                    @Html.TextBoxFor(x => x.Email, new { placeholder = @Auth.Email, @class = "work-input" })
                </div>
                <span class="work-text validation-text" asp-validation-for="Email"></span>
                <div>
                    @Html.TextBoxFor(x => x.Password, new
                             {
                                 @type = "password",
                                 placeholder = @Auth.Password,
                                 @class = "work-input"
                             })
                </div>
                <span class="work-text validation-text" asp-validation-for="Password"></span>
                <div>
                    <input type="submit" value=@Auth.Login class="button-on-page" />
                </div>
            </form>

        </div>

    </div>
</div>