@model PassengerInformationViewModel

@section Scripts{
    <script src="~/js/AjaxPassengerInfo.js"></script>
}

<h1>Information about flight</h1>

<div>
    <div>
        Departure City & Airport: @Model.Flight.DepartureAirport
    </div>
    <div>
        Departure Time: @Model.Flight.DepartureDate
    </div>
    <br />

    <div>
        Duration: @Model.Flight.Duration
    </div>
    <br />

    <div>
        Arrival City & Airport: @Model.Flight.ArrivalAirport
    </div>
    <div>
        Arrival Time: @Model.Flight.ArrivalDate
    </div>
    <br />

    <div>
        Aircraft: @Model.Flight.AircraftBrand @Model.Flight.AircraftModel
    </div>
    <br />
</div>

<h3>Total cost</h3>
<div id="total-render"></div>
<br/>

<div>Ticket cost:</div>
<div id="ticket-render"></div>

<div>Food cost:</div>
<div id="food-render"></div>

<div>Luggage cost:</div>
<div id="luggage-render"></div>

<h3>Passenger Information</h3>

<form action="/Reservation/PassengerInformation" method="post" autocomplete="off">
    @Html.HiddenFor(x => x.Flight.Id, new { id = "flightId" })
    @Html.HiddenFor(x => x.Reservation.ClassId, new { id = "classId" })
    @Html.HiddenFor(x => x.Reservation.NumberOfPassengers)

    @for (int i = 0; i < @Model.Reservation.NumberOfPassengers; i++)
    {
        <h5>Passenger @(i+1)</h5>

        <div>
            Last name @Html.TextBoxFor(x => x.Reservation.Passengers[i].LastName)
            <span asp-validation-for="Reservation.Passengers[i].LastName"></span>
        </div>
        <div>
            First name @Html.TextBoxFor(x => x.Reservation.Passengers[i].FirstName)
            <span asp-validation-for="Reservation.Passengers[i].FirstName"></span>
        </div>
        <div>
            Middle name @Html.TextBoxFor(x => x.Reservation.Passengers[i].MiddleName)
            <span asp-validation-for="Reservation.Passengers[i].MiddleName"></span>
        </div>

        <div>
            @Html.CheckBoxFor(x => x.Reservation.Passengers[i].Food,
                new { id = $"food_{i}", @class = "addFood" })
            <label for="food_@i">Food during the flight</label>
        </div>
        <div>
            @Html.CheckBoxFor(x => x.Reservation.Passengers[i].Luggage,
                new { id = $"luggage_{i}", @class = "addLuggage" })
            <label for="luggage_@i">Book luggage</label>
        </div>


        <br />
        <br />
    }

    <div>
        <input type="submit" value="Continue" id="submitButton" />
    </div>
</form>