@model IEnumerable<Reservation>

<div class="card">
    <h3 class="card-header">
        <span class="material-symbols-outlined">
            airplane_ticket
        </span>
        My reservations
    </h3>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Departure city
                </th>
                <th>
                    Departure date
                </th>
                <th>
                    Arrival city
                </th>
                <th>
                    Arrival date
                </th>
                <th>
                    Aircraft
                </th>
                <th>
                    Paid
                </th>
                <th>
                    Print
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.Route.DepartureAirport.City)
                        @Html.DisplayFor(modelItem => item.Flight.Route.DepartureAirport.Code_IATA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.DepartureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.Route.ArrivalAirport.City)
                        @Html.DisplayFor(modelItem => item.Flight.Route.ArrivalAirport.Code_IATA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.Aircraft.Brand)
                        @Html.DisplayFor(modelItem => item.Flight.Aircraft.Model)
                    </td>
                    <td>
                        @if (item.Paid)
                        {
                            <i class="bi bi-credit-card text-success"></i>
                            <span>

                                Paid
                            </span>
                        }
                        else
                        {
                            <i class="bi bi-credit-card text-danger"></i>
                            @Html.ActionLink("Pay", "Payment", "Reservation", new { reservationId = item.Id })
                        }
                    </td>
                    <td>
                        @if (item.Paid)
                        {
                            <i class="bi bi-file-pdf"></i>
                            @Html.ActionLink("Print", "PrintTicket", "Reservation", new { id = item.Id }, new { target = "_blank" })
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
