@model AircraftViewModel

<div class="card">
    <h3 class="card-header">
        Create
    </h3>
    <div class="card-body">
        <form action="/Aircraft/Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">Model</label>
                    @Html.TextBoxFor(x => x.Model, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="Model"></span>
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Brand</label>
                    @Html.TextBoxFor(x => x.Brand, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="Brand"></span>
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Year Of Build</label>
                    @Html.TextBoxFor(x => x.YearOfBuild, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="YearOfBuild"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">Economy Class Seats</label>
                    @Html.TextBoxFor(x => x.EconomyClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="EconomyClassSeats"></span>
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Business Class Seats</label>
                    @Html.TextBoxFor(x => x.BusinessClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="BusinessClassSeats"></span>
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">First Class Seats</label>
                    @Html.TextBoxFor(x => x.FirstClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="FirstClassSeats"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">Maximum Flight Range</label>
                    @Html.TextBoxFor(x => x.MaxFlightRange, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="MaxFlightRange"></span>
                </div>
                <div class="col-8 mb-3">
                    <label class="form-label">Picture</label>
                    <input type="file" name="@nameof(AircraftViewModel.PictureFile)" class="form-control" />
                </div>
            </div>

            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Create</button>
                @Html.ActionLink("Back to list", "List", "Aircraft", htmlAttributes: new { @class = "btn btn-outline-primary" })
            </div>
        </form>
    </div>
</div>



