@using AirStar.ViewModels
@model AirStar.ViewModels.AircraftViewModel

<h1>Edit</h1>

<form action="/Aircraft/Edit" method="post" enctype="multipart/form-data">
    <div>
        @Html.HiddenFor(x => x.Id)
        Model @Html.TextBoxFor(x => x.Model)
        <span asp-validation-for="Model"></span>
    </div>
    <div>
        Brand @Html.TextBoxFor(x => x.Brand)
        <span asp-validation-for="Brand"></span>
    </div>
    <div>
        Year Of Build @Html.TextBoxFor(x => x.YearOfBuild)
        <span asp-validation-for="YearOfBuild"></span>
    </div>
    <div>
        Economy Class Seats @Html.TextBoxFor(x => x.EconomyClassSeats)
        <span asp-validation-for="EconomyClassSeats"></span>
    </div>
    <div>
        Business Class Seats @Html.TextBoxFor(x => x.BusinessClassSeats)
        <span asp-validation-for="BusinessClassSeats"></span>
    </div>
    <div>
        First Class Seats @Html.TextBoxFor(x => x.FirstClassSeats)
        <span asp-validation-for="FirstClassSeats"></span>
    </div>
    <div>
        Maximum Flight Range @Html.TextBoxFor(x => x.MaxFlightRange)
        <span asp-validation-for="MaxFlightRange"></span>
    </div>
    <div>
        @Html.HiddenFor(x => x.Picture)
        Picture URL <input type="file" name="@nameof(AircraftViewModel.PictureFile)" class="file" />
    </div>
    <div>
        <input type="submit" value="Edit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to list", "List", "Aircraft")
</div>