@using Resources
@model AircraftViewModel

<div class="card">
    <h3 class="card-header">
        @Dictionary.Editing
    </h3>
    <div class="card-body">
        <form action="/Aircraft/Edit" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x => x.Id)
            <div class="row">
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.Model)
                    @Html.TextBoxFor(x => x.Model, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="Model"></span>
                </div>
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.Brand)
                    @Html.TextBoxFor(x => x.Brand, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="Brand"></span>
                </div>
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.YearOfBuild)
                    @Html.TextBoxFor(x => x.YearOfBuild, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="YearOfBuild"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.EconomyClassSeats)
                    @Html.TextBoxFor(x => x.EconomyClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="EconomyClassSeats"></span>
                </div>
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.BusinessClassSeats)
                    @Html.TextBoxFor(x => x.BusinessClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="BusinessClassSeats"></span>
                </div>
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.FirstClassSeats)
                    @Html.TextBoxFor(x => x.FirstClassSeats, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="FirstClassSeats"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    @Html.DisplayNameFor(x => x.MaxFlightRange)
                    @Html.TextBoxFor(x => x.MaxFlightRange, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="MaxFlightRange"></span>
                </div>
                <div class="col-8 mb-3">
                    @Html.DisplayNameFor(x => x.PictureFile)
                    <input type="file" name="@nameof(AircraftViewModel.PictureFile)" class="form-control" />
                    <span class="text-danger" asp-validation-for="PictureFile"></span>
                </div>
            </div>

            <div class="col text-center">
                <button class="btn btn-primary" type="submit">@Dictionary.Edit</button>
                @Html.ActionLink(@Dictionary.BackToList, "List", "Aircraft", htmlAttributes: new { @class = "btn btn-outline-primary" })
            </div>
        </form>
    </div>
</div>

